.border-class{
  border: solid 2px black;
  border-radius: 5px;
}

.search-class {
  background-color: grey;
  border: solid #495057 2px;
  border-radius: 5px;
  margin-left: 1%;
  padding: 1%;
  cursor: pointer;
}
