h1{
  text-align: center;
}

button{
  background-color: #3467b3;
  color: white;
  border: solid 3px #244f8c;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  transition: background-color 0.25s;
}

.buttons-container{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}

.sliderContainer{
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
