.centeredHeading{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.noRequestContainer{
  display: flex;
  background-color: #4688df;
  width: 100vh;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border: #0d3770 2px solid;
  margin-top: 10%;
  border-radius: 5px;
  box-shadow: #16498c 5px 5px 5px;
}

.requestContainer{
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: #4688df;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 80vh;
  border: 2px solid #0d3770;
}

.map-container{
  width: 70%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border: black solid 2px;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: solid 3px #b62937;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  margin-top: 2%;
  transition: background-color 0.25s;
}

.deleteButton:hover{
  background-color: #ae2132;
}

p{
  margin-top: 1%;
}

h1{
  font-size: xx-large;
  font-weight: bold;
}

